<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>14_2 homework main page</title>
</head>

<body>
    14_2 homework main page
    <br>
    <br>

    1. Поиск по названию<br>(name)
    <div class="search">
    <form action="/name/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>

    2. Поиск по диапазону лет выпуска <br>(year-year)
   <div class="search">
    <form action="/interval/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>

    3. Поиск по рейтингу <br>(children, family, adult)
   <div class="search">
    <form action="/rating/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>

    4. Поиск по жанру, выводит 10 самых свежих фильмов
   <div class="search">
    <form action="/genre/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>

    5. Поиск актеров, кто играет в паре с актерами больше 2х раз <br>(actor1 - actor2)
   <div class="search">
    <form action="/actors/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>


    6. Вывод картин по фильтру <br>(type-release_date-genre)
   <div class="search">
    <form action="/filter/" class="search__form">
      <input type="search" class="search__input" name="s">
    </form>
    </div>
    <br>
    <br>

</body>
</html>